ul {   
    background-color: rgba(19, 35, 47, 0.9);
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 65px;
    overflow: hidden;
    padding-left: 20px;
    padding-top: 6px;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #1ab188;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.newsfeed-textarea{
    font-size: 22px;
    display: block;
    width: 0%
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 3px solid #a0b3b0;
    color: #1c2b32;
    border-radius: 0;
}

#qwimg{
    border-radius: 50%;
    width: 350px;
    height: 350px;
    position: absolute;
    left: 10px;
    top: 150px;
}

#asdimg{   
    border-radius: 50%;
    height: 350px;
    width: 350px;
    position: absolute;
    right: 10px;
    top: 150px;
}

#weimg{
    height: 100px;
    left: 385px;
    width: 600px;
    top: 80px;
    position: absolute;
}
