{% extends "base.html" %}

	{% block body %}
<link rel="stylesheet" href="../static/css/feed.css">
	<h1>Feed Page</h1>

		<div style="max-width: 700px; background: rgba(19, 35, 47, 0.9); margin-left: 350px;">

		<form action="/newfeeds" method="post">
		
		<textarea placeholder="Content" name="post" class="newsfeed-textarea"> </textarea> <br>
		<input type="submit" value="Feed">


	
	

	</form>
	<div class="newsfeed-div">
	{% for majd in feedb %}
	<ul> <span class="feed-user"> 
	<img  class="feed-image" src ="../static/images/fb.jpg">
	    <h1><td>
	{{majd.username}}</td></h1></span> </ul>
				<h5><td>
	{{majd.time_string}}</td></h5></span>
		<span class="feed-text">
	    <h3><td> {{majd.post}}</td> </h2> </span>


			</form>
	 </ul>
	{% endfor %}
	</div>
</div>
	{% endblock %}