{% extends "base.html" %}

{% block body %}

<img src="../static/images/qw.jpg" class="qwimg">
<img src="../static/images/asd.jpg" class="asdimg">
<img src="../static/images/wecode.png" class="weimg">
<p class="home-p" 
    "> Code for Palestine is a three year-long program, beginning the summer before 10th grade and concluding after 12th grade. Each year has many in-person sessions but is kicked off by a two-week camp held during the summer. Volunteer undergraduate instructors from Stanford University have served as the primary teachers during the two-week summer camp. 
 </p>	
<!-- TODO: implement home page. -->
<br><br><br><div style="color:white;">
__________________________________________________________________________________________________________________________________________________________________________
</div>
<br>
<h1 style="background-color: rgba(19, 35, 47, 0.9); "> About us</h1>
<div style="background-color: rgba(19, 35, 47, 0.9); float: right;
  height:350;
  width: 400px;
 ">
	<img src="../static/images/majd.jpg" style="width: 400px;
height: 350;
border-radius: 25px;
margin-top: 10px;
">

	<p style="color: rgb(232, 223, 223); line-height: 150%; text-align: center; font-size: 20px">My name is Majd Marie. I am 15 years old.
I live in Ya'bad,Jenin,Palestine. I am a beginner programmer. I have joined We Code Program since one year ago. I have learned basic details about Python, Html and Css. And this website is made by me and ribhy. So enjoy ^^ </p>
		<br>
	

</div>
<div style="background-color: rgba(19, 35, 47, 0.9);
  height:350;
  width: 400px;
  margin-top: 50px;

 ">
	<img src="../static/images/ribhy.jpg" style="width: 400px;
height: 350;
border-radius: 25px;
margin-top: 10px;
">


	<p style="color: rgb(232, 223, 223); line-height: 150%; text-align: center; font-size: 20px">My name is Ribhy Bishtawi. I am 16 years old.
I live in Nablus,Palestine. I am a beginner programmer. i have start programming scince i was 10 years old,and my skill develop when i enter code fr palestine programm,i now learn to bulid my website and games and many other thing and this website is example of what can made with my partnet Majd.(TeamWork)</p>
		<br>
		</div>

{% endblock %}