{% extends "base.html" %}

{% block body %}

<img src="../static/images/qw.jpg" id="qwimg">
<img src="../static/images/asd.jpg" id="asdimg">
<img src="../static/images/wecode.png" id="weimg">
<p class="home-p" 
    "> Code for Palestine is a three year-long program, beginning the summer before 10th grade and concluding after 12th grade. Each year has many in-person sessions but is kicked off by a two-week camp held during the summer. Volunteer undergraduate instructors from Stanford University have served as the primary teachers during the two-week summer camp. 
 </p>	
<!-- TODO: implement home page. -->
x
{% endblock %}