{% extends "base.html" %}

{% block body %}
<link rel="stylesheet" href="../static/css/list.css">
{% for person in users%}
    <div class="card">
    <div class="container"  style=" background-color: rgba(19, 35, 47, 0.9); ">
{% if person.gender == "Male" %}
        <img alt="Avatar" style="width:100%" src ="../static/images/male.png">
{% elif person.gender =="Female" %}
        <img alt="Avatar" style="width:100%" src ="../static/images/female.png">

{% else %}
        <img alt="Avatar" style="width:100%" src ="../static/images/nerd.png">

{% endif %}

<div ">
    <h1><td> {{person.firstname}} {{person.lastname}}</td></h1>

       <h3 style="color:white; ">  <td > {{person.hometown}}</td><br> </h3>
	<p> <td> <a href ={{person.website}}></td><button>Website</button></a></p>
</div>
    </div>
</div>
{% endfor %}
{% endblock %}