{% extends "base.html" %}

{% block body %}

<div class="card">
  <img src="https://majdmarie.herokuapp.com/static/images/MyPicture.jpg" alt="John" style="width:100%">
  <div class="container">
    <h1>Majd Marie</h1>
    <p class="title">Palestine, Jenin, Ya'bad</p>
    <p>Y2 Student</p>
   <p><a href="https://majdmarie.herokuapp.com/"> </a> <button style>Contact</button></p>
  </div>
</div>

{% for person in users%}
<ul>
    <li><td> {{person.firstname}}</td><br><br></li>
    <li><td> {{person.lastname}}</td><br><br></li>
    <li> <td> {{person.email}}</td><br><br></li>
    <li>  <td> {{person.hometown}}</td><br><br></li>
	<li> <td> {{person.website}}</td><br><br></ul></li>

{% endfor %}
{% endblock %}