{% extends "base.html" %}



  <title>Sign-Up/Login Form</title>



{% block body %}
<link rel="stylesheet" href="../static/css/style.css">

<div class="form">
      
      <ul class="tab-group">
        <li class="tab"><a href="register">Sign Up</a></li>
        <li class="tab-active"><a href="login">Log In</a></li>
      </ul>
      
      <div class="tab-content">








        </div>

        <div id="login">
          <h1>Please login </h1>

          <form action="/logi" method="post">

            <div class="field-wrap">

            <input type="text" required autocomplete="off" placeholder="Username" name="username"/>
          </div>

          <div class="field-wrap">

            <input type="password"required autocomplete="off" placeholder="Password" name="password-l"/>
          </div>

            <input type="submit" autocomplete="off" value="Submit"/>


          </form>

        </div>

      </div>
      </div>
<!-- tab-content -->

</div> <!-- /form -->
  {% endblock %}