{% extends "base.html" %}

{% block body %}
  <link rel="stylesheet" href="../static/css/style.css">
{% if error == True %}
 <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  Username already in use
</div> 
{% endif %}
  <div class="form">
      
      <ul class="login-ul tab-group">
        <li class="tab-active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="login">Log In</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="signup">   
          <h1>Sign Up</h1>
          <form action="/signup" method="post">
            <div class="top-row">
              <div class="field-wrap">

                <input type="text" required autocomplete="off" name="firstname" placeholder="First Name"/>
              </div>

              <div class="field-wrap">

                <input type="text"required autocomplete="off" name="lastname" placeholder="Last Name"/>
              </div>
            </div>
            <div class="field-wrap">

                <input type="text"required autocomplete="off" name="username" placeholder="Username"/>
              </div>

            <div class="field-wrap">

              <input type="email"required autocomplete="off" name="email" placeholder="Email Address"/>
            </div>

            <div class="field-wrap">

              <input type="password"required autocomplete="off" name="password" placeholder="Password"/>
            </div>

            <div class="field-wrap">

              <input type="text"required autocomplete="off" name="hometown" placeholder="Hometown"/>
            </div>
            <div class="field-wrap">

              <input type="url"required autocomplete="off" name="website" placeholder="Website"/>

            </div>
            <!--<div class="radio">-->
         <!--<div><input type="radio" name="gender" value="male" checked> Male</div>-->
          <!--<div>   <input type="radio" name="gender" value="female"> Female</div>-->
          <!--</div>-->
           <!--<div class="radio1"> <input type="radio" id="radio1" name="radio1">-->
            <!--<label for ="radio1"> Male</label></div>-->
            <!--<div class="radio2"> <input type="radio" id="radio2" name="radio2"  >-->
            <!--<label for ="radio2"> Female</label></div>-->
            <!--<label for="male">Male</label>-->
            <!--<input type="radio" name="gender" id="male" value="male"><br>-->
            <select name="select" style=" font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  margin-bottom: 30px;
  background: rgba(19, 35, 47, 0.9);

">

    <option  name="male">Male</option>
    <option  name="female">Female</option>
            </select>
            <input type="submit" autocomplete="off" value="Submit"/>
  </form>





        </div>





          <div class="field-wrap">


          </div>






        </div>

      </div><!-- tab-content -->

{% endblock %}



