{% extends "base.html" %}

{% block body %}
<h1>Register Page</h1>

<!-- TODO: implement register page -->
<form action="/login" method="post">
 <div class="top-r">
            <div class="content">
              <label>
                Email<span class="req"></span>
              </label>
              <input name="email-l" type="email" required autocomplete="off" />
            </div>
     <div class="content">
              <label>
               Password<span class="req"></span>
              </label>
              <input name="password-l" type="password" required autocomplete="off" />

            </div>
              <input name="password-l" type="submit" required autocomplete="off" value="submit" />



</form>

{% endblock %}