{% extends "base.html" %}

{% block body %}
<h1>Register Page</h1>

<form action="/signup" method="post">
First Name
<input type="textarea" autocomplete="off" name="firstname" required/>

Last Name
<input type="textarea" autocomplete="off" name="lastname" required/>
<br>
<br>
Email address
<input type="email" autocomplete="off" name="email" required/>
<br>
<br>
Password
<input type="password" autocomplete="off" name="password" required/>
<br>
<br>
Hometown

<input type="textarea" autocomplete="off" name="hometown"/>
<br>
<br>
Website
<input type="textarea" autocomplete="off" name="website"/>


<input type="submit" autocomplete="off" value="Submit"/>

</form>

<!-- TODO: implement register page -->

{% endblock %}